{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * MuseumPlus for CraftCMS plugin for Craft CMS
 *
 * Collection Widget Body
 *
 * @author    Furbo GmbH
 * @copyright Copyright (c) 2022 Furbo GmbH
 * @link      https://furbo.ch
 * @package   MuseumplusForCraftcms
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@furbo/museumplusforcraftcms/assetbundles/collectionwidget/dist', true) ~ '/img/Collection-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
